@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prosa tipográfica coherente con la marca */
.prose {
  --tw-prose-headings: #0D1321;
  --tw-prose-body: #3A3A3A;
  --tw-prose-links: #C1121F;
}
